{% extends "users/base.html" %}
{% block head_content %}
    <title>Platzigram Signup</title>
{% endblock %}
{% block container %}
    <h4 class="align-self-center text-center">Sign Up</h4>
    {% if error %}
        <div class="p-3 mb-2 bg-danger text-white text-center">{{ error }}</div>

    {% endif %}
    <form method="POST" action="{% url "signup" %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
        <a class="text-center align-self-center mt-2" href="{% url "login" %}">go back</a>
{% endblock %}
